body {
    font-family: monospace, sans-serif;
    background-color: rgb(2, 2, 60);
}

input, button {
    font-family: monospace, sans-serif;
}

h1{
    color: rgb(250, 250, 250);
}

h2 {
    color: rgb(250, 250, 250);
}

h3 {
    color: rgb(250, 250, 250);
}

ul {
    color: seashell;
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}
li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
ul li:hover {
    background-color: #dddddd7a;
}
ul li a:hover {
    color: rgb(219, 182, 0);
}

p {
    color: rgb(250, 250, 250);
}

.search-form {
    /* Example styles */
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
}

.search-form input,
.search-form button {
    /* Example styles for input fields and button */
    margin: 5px;
    padding: 10px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 5px;
}

